{% extends 'base.html.twig' %}

{% block title %}Summer of LabVIEW - About{% endblock %}

{% block body %}
    <p>Summer of LabVIEW was started originally in 2022 by Derrick Bommarito and Darren Nattinger as a programming competition for the NI Sales and Support organization, building both excitement and prowess within NI for NI's own flagship software product. In 2023 GCentral has organized a team of volunteers to take the competition worldwide! Whether you're a LabVIEW beginner, a Certified LabVIEW Architect, or anywhere in between, we hope you'll find the Summer of LabVIEW challenges exciting and fun. Tell your friends!</p>
{% endblock %}
