{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <p>Summer of LabVIEW was started originally in 2022 by Derrick Bommarito and Darren Nattinger as a programming competition for the NI Sales and Support organization, building both excitement and prowess within NI for NI's own flagship software product. In 2023 GCentral has organized a team of volunteers to take the competition worldwide! Whether you're a LabVIEW beginner, a Certified LabVIEW Architect, or anywhere in between, we hope you'll find the Summer of LabVIEW challenges exciting and fun. Tell your friends!</p>

    <p>If you have ideas for future challenges, we'd love to hear from you! Feel free to hop in the Discord (link in top right) and help grow Summer of LabVIEW for the next year! There are only a few hard requirements for challenges and the rest is up to your creativity:</p>
    <ul>
        <li>Distributed as a VIPM package</li>
        <li>Provides a Project Template ready to run</li>
        <li>Includes an example implementation</li>
    </ul>
    <p class="mt-5">The aim is to have challenges that provide an engaging playground for people looking to grow skills to experiement and learn in and also be "fiddly" enough that more experienced developers find interesting things to tweak.</p>
{% endblock %}
