<footer class="w-100 pt-4">
    <div class="container">
        <div class="row">
            <h5>Summer of LabVIEW</h5>
        </div>
        <div class="row mt-4">
            <div class="col-2">
                {# Main Links #}
            </div>
            <div class="col-3">
                {# Main Links #}
            </div>
            <div class="col-2">
                {# Short Links #}
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                {# More Links #}
            </div>
        </div>
        <div class="text-center mt-4 w-100 pb-2">
            <p style="font-size: 11px;">©IlluminatedG (Derrick Bommarito) 2024.<br>DAQ, CompactRIO, LabVIEW, NI Tools Network, NI, NI TestStand, NI VeriStand are trademarks of National Instruments.</p>
        </div>
    </div>
</footer>